body{
    margin: 0;
}
.Cabecera{

    background-color: cyan;
    padding: 15px;
    height: 140px;
    
}
.Imagen img{
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 40px;
    border: 1px solid;
}


#menuprincipal {
    text-align: center;
    background-color: black;
  margin: -16px 0;

}
#menuprincipal a {
   
    font-size: 30px;
    color: white;
    text-decoration: none;
    

}
#menuprincipal li{
   
    display: inline-block;
   width: 300px;
   border: 1px solid white;
}
.grid{
    display: grid;
    grid-template-areas: "seccion menus";
    grid-template-columns: 1fr 300px;

}
.seccion{
    grid-area: seccion;
}
.menus{
    grid-area: menus;
    background-color: aquamarine;
}
#noticia{
    padding: 15px;
}
#imgs{
float: right;
width: 130px;
height: 130px;
}


.piegrid{

    display: grid;
grid-template-areas: "pie1" "pie2";
grid-template-columns: 1fr;
grid-template-rows: 1fr;
}

.pie1{

  grid-area: pie1; 
  background-color:aqua; 
}

.pie2{
    text-align: center;
    grid-area: pie2;
        color: blanchedalmond;
background-color:black;
}


.alineacion{

    display: inline-block;
    
   
  }

  .alineacion li{
margin-left: 50px;


  }

  .p{
      text-align: justify;
      width: 1000px;
  }
  .img2 {
    
    margin-left: 20px;
    width: 100px;
    height: 110px;
    border: 1px solid;
  }
h4{
    margin-left: 60px; 
}

.asaide{

    background-color:darkcyan;
    margin: 10px 40px;
    padding: 1px;
}
.icono{
   
    width: 25px;
    height: 15px;
    
}
